<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809743636814-vql7crb31gt3dq2qd415mf7onl3jmome.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809743636814-vql7crb31gt3dq2qd415mf7onl3jmome</string>
	<key>API_KEY</key>
	<string>AIzaSyDnvfwtkqbc9NdCQvKwU19RD_xeZWpkFhc</string>
	<key>GCM_SENDER_ID</key>
	<string>809743636814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectLtc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>learn-to-code-app-ab4cf</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-to-code-app-ab4cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809743636814:ios:8652debe7bd0ae7fefa61f</string>
</dict>
</plist>